@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.eot');
  src: url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.ttf')
      format('woff'),
    url('./assets/fonts/iranyekan/weight-400/iranyekanwebregularfanum.woff')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'iranyekan' !important;
  /* height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
}

/* #root{
  scroll-behavior: smooth;
  overflow-y: auto;
} */
